<?xml version="1.0"?>
<Simulator>
  <Topology>
  <Hosts>
    <Host name="Host1"/>
    <Host name="Host2"/>
  </Hosts>
  <Routers>
    <Router name="R1" />
  </Routers>
  <Links>
    <Link name="Link1" rate="10000000" prop_delay="0" buffer_size="64" from="Host1" to="R1"/>
    <Link name="Link2" rate="10000000" prop_delay="0" buffer_size="64" from="R1" to="Host2"/>
  </Links>
  </Topology>
  <Flows>
    <Flow name="F1" from="Host1" to="Host2" pkt_count="160000000" start_time="10" algorithm="AIMD"/>
  </Flows>
  <Routing duration="30" frequency="5" />
  <LogFilePath path="log.xml" />
</Simulator>
